body{
	padding-top: 4.5rem;
	/*background-color: */
}
.col-xs-12, .col-sm-1, .col-md-4{
	position: relative;	
	text-align:center;
	padding-top: 30px;
	/*border-left: 2px solid black;*/
}

/*.container{

	border: 1px solid black;
}*/

h4{
	
}